AI News Agent workflow.json
{
  "name": "AI News Agent workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        128,
        448
      ],
      "id": "7febc10d-90ce-4329-90fb-a9a2ca0185c4",
      "name": "Get Tech News"
    },
    {
      "parameters": {
        "toolDescription": "Reads the news",
        "url": "=https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        272,
        448
      ],
      "id": "9424428d-45e2-4085-99f6-ee223802ba5a",
      "name": "Get World News"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize world news and tech news from the last 24 hours. \nSkip your comments. \nThe titles should be \"World news:\" and \"Tech news:\" \nLimit to 10 bullet points. \nToday is {{ $today }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        192
      ],
      "id": "99bed296-3855-4d89-b983-f30539cfa775",
      "name": "AI Summary Agent",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "sendTo": "taneja60_be23@thapar.edu",
        "subject": "Your news daily summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        192
      ],
      "id": "d0e843dc-c398-4d32-8c56-0bf83176add3",
      "name": "Send summary with Gmail",
      "webhookId": "99bdd654-5c17-4ba1-b091-3d726e56f88d",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "sWrfBf2MEG2x7muw",
          "name": "Gmail account 2"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        192
      ],
      "id": "e6618880-9281-4d92-91ff-c9a000429b7d",
      "name": "Manual execution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        192
      ],
      "id": "f0a79856-ddcf-404b-95a7-a9bf882697ff",
      "name": "Output (News summary)",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        400
      ],
      "id": "39589805-c438-4cfa-b93c-b21d827ab5d7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rZzxJynhtP4rUtp1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Tech News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get World News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [
          {
            "node": "Output (News summary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual execution": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output (News summary)": {
      "main": [
        [
          {
            "node": "Send summary with Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "c4bb274f-7468-4ad5-9568-5929d67fb091",
  "meta": {
    "templateId": "ready-to-run-ai-workflow-v3",
    "templateCredsSetupCompleted": true,
    "instanceId": "96277d595fcff0d10cc40fe7c971ffbb8ac1642dbc00e1228816128495df055f"
  },
  "id": "167q1et83PIidU1c",
  "tags": []
}